/**
 *  ADMIN CSS
 *
 *      This CSS is handwritten and is only used within the WordPress
 *      admin panel
 *
*/

.acf-input h2 {
    font-size: 32px !important;
    font-weight: bold !important;
    margin: 0;
    padding: 0;
}
