/*------------------------------------*\
    #GLOBALS
\*------------------------------------*/
html,
html > body,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
	
  &.no-scroll {
    overflow: hidden;
  }
}

::selection {
}

/* gets rid of the annoying outline for mouse users
	but perserves it for keyboard users, and is ignored
	by users that don't support :focus-visible
	@LeaVerou
	*/
:focus:not(:focus-visible) {
  outline: none;
}
